*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbed);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass{
  background:linear-gradient(to right bottom,
      rgba(255, 255, 255,0.7),
       rgba(255, 255, 255,0.3)
       );
  min-height: 80vh;
  width: 60%;
border-radius: 2rem;
z-index: 3;
backdrop-filter: blur(2rem);
display: flex;
}
.circle1,.circle2,.circle3,.circle4{
  background:linear-gradient(to right bottom,
      rgba(255, 255, 255,0.8),
       rgba(255, 255, 255,0.3)
       );
       height: 10rem;
       width: 10rem;
       position: absolute;
       border-radius: 50%
}

.circle1{
  top: 5%;
  right: 15%
}
.circle2{
  bottom: 5%;
  left: 15%;
}
.circle3{
  bottom: 5%;
  right: 15%;
}
.circle4{
  top: 5%;
  left: 15%;
}
.dashboard{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background:linear-gradient(to right bottom,
      rgba(255, 255, 255,0.7),
       rgba(255, 255, 255,0.3)
       );
  border-radius: 2rem;
}
.link{
  display: flex;
  margin: 2rem 0rem;
 padding: 0.7rem 5rem;
  align-items: center;
  background-color: pink;
  border-radius: 2rem;
}
/*.link h2{
  padding: 0rem 2rem;
}*/

.side{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

#heavy{
  height: 35px;
  width: 40px;
}
a {
  text-decoration: none;
  color: #000000;
}
.photo{
  position: absolute;
  bottom: 0%;
  right:15%;
}
#display_image{
  width: 375px;
  height: 211px;
  border:1px solid black;
  background-position: center;
  background-size: cover;
}

p{
  margin: 0.8rem;
}
.field{
  border-radius: 2rem;
}
.details{
  position: absolute;
  top: 5%;
  right:4%;
}
.status{
  position: absolute;
  top: 30%;
  right: 5%;
}
/*#65dfc9, #6cdbed*/
